.weather-info.summer i {
  color: coral;
}

.weather-info.winter i {
  color: powderblue;
}

.weather-info.winter {
  background-color: aliceblue;
}

.weather-info.summer {
  background-color: orange;
}

.icon-left {
  position: absolute;
  left: 10px;
  top: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
